.CardView .darken-on-hover:hover {
  background-color: #ccc;
}
.CardView .highlighted {
  background-color: #ccc;
}
.CardView .save-button {
  font-size: 30pt;
}
.CardView .close-button {
  float: right;
  font-size: 30pt;
}
