.ChallengesView table {
  border-collapse: collapse;
}

.ChallengesView th.shown-at,
.ChallengesView td.shown-at,
.ChallengesView th.grade,
.ChallengesView td.grade {
  border-left: 1px gray solid;
}

.ChallengesView tr.first-for-card-id {
  border-top: 1px gray solid;
}
